{% extends "layout.html" %} {% block content %} {% for post in posts.items %}
<div class="container mt-5">
  <div class="row">
    <div class="">
      <div
        class="ml-2 post-preview col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"
      >
        <a href="blog.html">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
        </a>
        <p class="post-subtitle">
          {{ post.body }}
        </p>
        <p class="post-meta">
          Posted by <a href="#">{{ post.author_name }}</a> on
          {{ post.created_at }}
        </p>
        <p>Updated at: {{ post.updated_at }}</p>
      </div>

      <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
      <input onclick="responsiveVoice.speak('Author: Posted by marktwain on 2019-04-21 17:03:26, Title: Faucibus,  Body: ornare suspendisse sed nisi. Et sollicitudin ac orci phasellus egestas tellus rutrum. Auctor augue mauris augue neque gravida in fermentum et. Platea dictumst quisque sagittis purus sit amet volutpat. Habitant morbi tristique senectus et netus et malesuada fames ac. Velit scelerisque in dictum non consectetur a erat nam. Mauris ultrices eros in cursus turpis massa. Pulvinar proin gravida hendrerit lectus. Quisque egestas diam in arcu. Eget arcu dictum varius duis at consectetur lorem donec. Quam nulla porttitor massa id neque');" type="button" value="Play" style="margin-left:21px" />

      <hr />
      {% endfor %}
      <!-- Pager -->
      <div class="ml-3 d-flex">
        {% for page_num in posts.iter_pages() %} {% if page_num %} {% if
        posts.page == page_num %}
        <a
          class="ml-1 btn btn-info mb-4"
          href="{{ url_for('posts', page=page_num)}}"
          >{{ page_num }}</a
        >
        {% else %}
        <a
          class="ml-1 btn btn-outline-info mb-4"
          href="{{ url_for('posts', page=page_num)}}"
          >{{ page_num }}</a
        >
        
        {% endif %} {% else %}...{% endif %} {% endfor %}
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
