{% extends "layout.html" %} {% block content %} {% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div
        class="ml-5 post-preview col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"
      >
        <a href="blog.html">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
        </a>
        <p class="post-subtitle">
          {{ post.body }}
        </p>
        <p class="post-meta">
          Posted by <a href="#">{{ post.author_name }}</a> on
          {{ post.created_at }}
        </p>
        <p>Updated at: {{ post.updated_at }}</p>
      </div>
      <hr />
      {% endfor %}
      <!-- Pager -->
      {% macro render_pagination(pagination) %}
      <div class="pagination">
        {% for page in pagination.iter_pages() %} {% if page %} {% if page !=
        pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %} {% else %}
        <span class="ellipsis">…</span>
        {% endif %} {% endfor %} {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
        {% endif %}
      </div>
      {% endmacro %}
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
