{% extends "layout.html" %} {% block content %} {% for post in posts.items %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div
        class="ml-5 post-preview col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"
      >
        <a href="blog.html">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
        </a>
        <p class="post-subtitle">
          {{ post.body }}
        </p>
        <p class="post-meta">
          Posted by <a href="#">{{ post.author_name }}</a> on
          {{ post.created_at }}
        </p>
        <p>Updated at: {{ post.updated_at }}</p>
      </div>
      <hr />
      {% endfor %}
      <!-- Pager -->
      {% for page_num in posts.iter_pages() %} {% if page_num %}

      <ul class="pager" style="list-style-type:none; display: inline-block">
        <li class="next">
          <a href="{{ url_for('posts', page=page_num)}}">{{ page_num }}</a>
        </li>
      </ul>
      {% else %} ... {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
